.games-streams {

  &-title {
    padding-top: 100px;
    font-size: 53px;
    font-weight: 300;
    padding-left: 260px;
    padding-bottom: 10px;
  }

  &-subtitle {
    font-size: 25px;
    font-weight: 300;
    padding-left: 260px;
    padding-bottom: 50px;
  }

  &-colored {
    color: #6441a4;
  }
}

.card-game-streams {
  height: 380px;
  width: 320px;
  margin: 0px 30px 30px 0px;
  transition: all 0.4s;
  border-radius: 10px;
  box-shadow: 2px 11px 36px -16px rgba(0,0,0,0.75);

  &:hover {
    transform: translateY(-5px);
  }

  &-body {
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &-btn {
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #212529;
    font-size: 1rem;
    line-height: 1.125;
    border-radius: 5px;
    padding: 2px 5px;
    cursor: pointer;
  }

  &-img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
}

@media screen and (max-width:1200px) {
  .games-streams {
    &-title {
      padding-left: 0px;
      font-size: 30px;
    }

    &-subtitle {
      font-size: 17px;
      padding-left: 0px;
      padding-bottom: 50px;
    }
  }
}

@media screen and (max-width:559) {
  .card-game-streams {
    margin: 0 0 30px 0;
  }
}
